.footer{
  background-color: #f2f2f2;
  border-top: 1px solid #b1b1b5;
  color: #b1b1b5;
  padding: 15px 15px 15px 150px;
  margin-top: auto;
}

.footer > span{
  margin-right: 10px;
  font-size: 12px;
}