.errorMessage {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80vw;
  height: 100vh;
  max-width: 340px;
  text-align: center;

}

.errorMessage__header{
  padding-top: 2em;
}

.errorMessage__info{
  padding: 2em 0;
}